[Unit]
Description=Caddy Web Server
After=network-online.target

[Container]
Image=docker.io/library/caddy:latest
Network=public.network
PublishPort=80:80
PublishPort=443:443

Volume=/srv/caddy-data/Caddyfile:/etc/caddy/Caddyfile:z
Volume=/srv/caddy-data/data:/data:z
Volume=/srv/caddy-data/config:/config:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
