[Unit]
Description=Minecraft Server
After=network-online.target
After=mnt.mount
Requires=mnt.mount
AssertPathExists=/mnt/@minecraft-server

[Container]
Image=docker.io/itzg/minecraft-server:latest
ContainerName=minecraft-server
Network=public.network

Environment=EULA=TRUE
Environment=TYPE=NEOFORGE
Environment=VERSION=1.21.1
Environment=NEOFORGE_VERSION=latest
Environment=MEMORY=6G

Environment=UID=0
Environment=GID=0

PublishPort=25565:25565/tcp
PublishPort=25565:25565/udp
Volume=/mnt/@minecraft-server:/data:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
